/* 引入字体 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');

/* 整体标签调整 */
* {
    padding: 0;
    margin: 0;
    position: relative;
}

/* 背景 */
body {
    background: #fff5df;
    font-family: 'Montserrat', sans-serif;
}

.all {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 缩小 */
    transform: scale(.75);
}

.bowl {
    width: 250px;
    height: 250px;
    border: 5px solid #fff;
    border-radius: 50%;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
    background: rgba(90, 201, 226, 0.3);
}

.bowl::before {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50px;
    width: 150px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.15);
}

.bowl::after {
    content: '';
    position: absolute;
    top: 10px;
    left: calc(25% - 3px);
    width: 50%;
    height: 40px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.bowl .water {
    position: absolute;
    bottom: 5%;
    width: 100%;
    height: 50%;
    overflow: hidden;
    /* 动画 */
    animation: top-inner 3s ease infinite;
}

@keyframes top-inner {
    from {
        transform: rotate(0deg);
        margin-left: 0px;
    }
    25% {
        transform: rotate(3deg);
        margin-left: -3px;
    }
    50% {
        transform: rotate(-6deg);
        margin-left: 6px;
    }
    75% {
        transform: rotate(5deg);
        margin-left: -5px;
    }
    to {
        transform: rotate(0deg);
        margin-left: 0px;
    }
}


/* 容器里的水 */
.bowl .water .inner {
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    bottom: 0;
    left: 12.5px;
    background: #4e99ce;
}

/* 水立体 */
.bowl .top-water {
    position: absolute;
    width: 225px;
    height: 60px;
    border-radius: 50%;
    bottom: 105px;
    left: 12.5px;
    /* 动画 */
    animation: top 3s ease infinite;
    background: #82bde6;
}

/* 动画 */
@keyframes top {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(3deg);
    }
    50% {
        transform: rotate(-6deg);
    }
    75% {
        transform: rotate(5deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.center-box {
    position: fixed;
    width: 400px;
    height: 400px;
    top: calc(50% - 250px);
    left: calc(50% - 180px);
    /* 动画 */
    animation: float 3s ease infinite;
    transform: scale(.5);
}

@keyframes float {
    from {
        transform: translate(0, 0px) scale(0.25);
    }
    25% {
        transform: translate(0, 4px) scale(0.25);
    }
    50% {
        transform: translate(0, -7px) scale(0.25);
    }
    75% {
        transform: translate(0, 7px) scale(0.25);
    }
    to {
        transform: translate(0, 0px) scale(0.25);
    }
}

/* 人 */
.fisherman {
    width: 400px;
    height: 300px;
}

/* 身体 */
.fisherman .body {
    position: absolute;
    width: 80px;
    height: 150px;
    bottom: 15px;
    right: 40px;
    clip-path: ellipse(40% 50% at 0% 50%);
    transform: rotate(-20deg);
    background: #d2bd24;
}

.fisherman .body::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 200px;
    bottom: -10px;
    right: 15px;
    clip-path: ellipse(90% 50% at 0% 50%);
    transform: rotate(10deg);
    background: #d2bd24;
}

.fisherman .right-arm {
    position: absolute;
    width: 20px;
    height: 110px;
    bottom: 46px;
    right: 163px;
    transform: rotate(40deg);
    border-radius: 20px;
    background: #d2bd24;
}

.fisherman .right-arm::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 82px;
    right: 50px;
    border-radius: 20px;
    background: #ffd1b5;
}

.fisherman .right-arm::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 50px;
    bottom: -15px;
    right: 20px;
    transform: rotate(-80deg);
    border-radius: 20px;
    background: #d2bd24;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.fisherman .right-leg {
    position: absolute;
    width: 20px;
    height: 110px;
    border-radius: 20px;
    bottom: -22px;
    right: 159px;
    background: #bf3526;
    transform: rotate(-60deg);
}

.fisherman .right-leg::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100px;
    border-radius: 20px;
    bottom: 45px;
    left: -40px;
    background: #bf3526;
    transform: rotate(80deg);
}

.fisherman .right-leg::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 100px;
    border-radius: 20px;
    bottom: 38px;
    left: -75px;
    background: #338ca0;
    transform: rotate(80deg);
}

/* 鱼竿 */
.rod {
    position: absolute;
    width: 380px;
    height: 5px;
    bottom: 130px;
    left: -140px;
    background: #331604;
    transform: rotate(10deg);
}

.rod .handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    left: 310px;
    top: 3px;
    background: #efdddb;
}

.rod .handle::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 4px;
    left: 10px;
    top: 7px;
    background: #1a1a1a;
}

.rod .rope {
    width: 3px;
    height: 250px;
    top: -18px;
    left: 21px;
    transform: rotate(-10deg);
    background: #fff;
    /* 动画 */
    /* animation */
}

.fisherman .butt {
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    bottom: 0;
    right: 90px;
    background: #bf3526;
}

.fisherman .left-arm {
    position: absolute;
    width: 20px;
    height: 90px;
    bottom: 55px;
    right: 135px;
    border-radius: 20px;
    transform: rotate(30deg);
    background: #e8d93d;
}

.fisherman .left-arm::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50px;
    right: 53px;
    border-radius: 20px;
    transform: rotate(30deg);
    background: #ffd1b5;
}

.fisherman .left-arm::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 60px;
    bottom: -15px;
    right: 20px;
    border-radius: 20px;
    transform: rotate(-70deg);
    background: #e8d93d;
}

.fisherman .left-leg {
    position: absolute;
    width: 20px;
    height: 100px;
    bottom: -14px;
    right: 120px;
    border-radius: 20px;
    transform: rotate(-50deg);
    background: #de4125;
}

.fisherman .left-leg::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100px;
    bottom: 20px;
    left: -37px;
    border-radius: 20px;
    transform: rotate(60deg);
    background: #de4125;
}

.fisherman .left-leg::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 100px;
    bottom: 2px;
    left: -70px;
    transform: rotate(60deg);
    background: #338ca0;
}

.fisherman .head {
    position: absolute;
    width: 60px;
    height: 80px;
    bottom: 135px;
    right: 110px;
    border-radius: 50%;
    transform: rotate(10deg);
}

.head .face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #d76540;
}

.head .face::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 85px;
    top: -20px;
    left: -10px;
    border-radius: 50%;
    background: #ffd1b5;
    transform: rotate(-10deg);
}

.head .eyebrows {
    position: absolute;
    width: 15px;
    height: 7px;
    top: 15px;
    left: -3px;
    transform: rotate(-10deg);
    background: #e67e5b;
}

.head .eyebrows::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 7px;
    top: 0px;
    left: 22px;
    background: #e67e5b;
}

.head .eye {
    position: absolute;
    width: 5px;
    height: 8px;
    top: 25px;
    left: 6px;
    border-radius: 50%;
    transform: rotate(-10deg);
    background: #1a1a1a;
}

.head .eye::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 8px;
    top: 0px;
    left: 20px;
    border-radius: 50%;
    background: #1a1a1a;
}

.head .nose {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fab58e;
    top: 25px;
    left: 6px;
    transform: rotate(-10deg);
}

.head .beard {
    position: absolute;
    width: 40px;
    height: 25px;
    top: 38px;
    left: 1px;
    transform: rotate(-10deg);
    clip-path: ellipse(50% 50% at 50% 50%);
    background: #e67e5b;
}

.head .hat {
    position: absolute;
    width: 80px;
    height: 8px;
    top: 8px;
    left: -13px;
    background: #3d402b;
}

.head .hat::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 40px;
    left: 10px;
    bottom: 8px;
    clip-path: ellipse(50% 50% at 50% 90%);
    background: #7b8445;
}

.boat {
    width: 400px;
    height: 100px;
    margin-top: -15px;
}

.boat .motor {
    width: 80px;
    height: 80px;
    border-right: 20px;
    top: -50px;
    right: -370px;
    background: #ef4723;
}

.boat .motor::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 100px;
    clip-path: polygon(0 0 , 100% 0, 60% 100%,0% 100%);
    top: 55px;
    right: 20px;
    z-index: -1;
    background: #bf3526;
}

.boat .motor::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 20px;
    left: 0;
    top: 0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    background: #fff;
}

.boat .motor .parts,
.boat .motor .parts::before,
.boat .motor .parts::after {
    position: absolute;
    width: 25px;
    height: 5px;
    right: 10px;
    top: 30px;
    border-right: 20px;
    background: #bf3526;
}

.boat .motor .parts::before,
.boat .motor .parts::after {
    content: '';
    right: 0px;
}

.boat .motor .parts::before {
    top: 10px;
}

.boat .motor .parts::after {
    top: 20px;
}

.boat .motor .button {
    position: absolute;
    width: 10px;
    height: 10px;
    left: -10px;
    top: 25px;
    border-right: 20px;
    background: #bf3526;
}

.boat .top {
    position: absolute;
    width: 390px;
    height: 5px;
    top: 0;
    right: 0;
    border-bottom: solid 5px #cdab33;
    background: #e8da45;
}

.boat .boat-body {
    position: absolute;
    width: 380px;
    height: 90px;
    bottom: 0;
    right: 0;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 20px;
    clip-path: polygon(0 0 , 100% 0, 99% 100%, 0% 100%);
    background: #cdab33;
}

.boat .boat-body::before {
    content: '';
    position: absolute;
    width: 380px;
    height: 70px;
    bottom: 20px;
    right: 0;
    border-bottom-left-radius: 60px;
    background: #d2bd39;
}

.boat .boat-body::after {
    content: '';
    position: absolut;
    width: 380px;
    height: 40px;
    bottom: 50px;
    right: 0px;
    border-bottom-left-radius: 60px;
    background: #e8da43;
}

.waves {
    height: 100%;
    box-sizing: border-box;
    border: 7px solid #fff;
    border-radius: 50%;
    transform: translate(30px, -30px);
    z-index: -10;
    animation: waves 3s ease infinite;
}

@keyframes waves {
    from {
        margin-left: 0px;
        margin-right: 0px;
        border-color: #fff;
    }
    to {
        margin-left: -100px;
        margin-right: -100px;
        border-color: transparent;
    }
}

.fish {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 8px;
    animation: jump 2s infinite;
}

@keyframes jump {
    0% {
        left: 80px;
        top: 120px;
        transform: rotate(90deg);
        opacity: 1;
    }
    16.7% {
        left: 70px;
        top: 60px;
        transform: rotate(-20deg);
        opacity: 1;
    }
    33.4% {
        left: 60px;
        top: 60px;
        transform: rotate(-90deg);
        opacity: 0;
    }
    50% {
        left: 80px;
        top: 120px;
        transform: rotate(90deg);
        opacity: 0;
    }
    100% {
        left: 80px;
        top: 120px;
        transform: rotate(90deg);
        opacity: 0;
    }
}

h1 {
    position: fixed;
    width: 100%;
    top: calc(50% + 170px);
    left: 0;
    text-align: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.15);
}